@use 'src/styles/vars' as v;

.convert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem 4rem;

    &_decrypt{
        display: flex;
        flex-direction: column;
        width: 50%;
        box-shadow: v.$second-color 1px 1px 80px 2px;
        transition: all 1s ease 0s;
        border-radius: 2rem;
        overflow: hidden;
        
            &:hover{
            box-shadow: v.$third-color 1px 1px 80px 2px;
            transition: 0.8s;
            }

            &--title {
                text-align: center;
                font-size: 3rem;
                font-weight: 600;
                background: v.$second-color;
                padding: 2% 1%;
            }

            &--subtitle {
                text-align: center;
                font-size: 1.75rem;
                font-weight: 400;
                background-color: v.$fourth-color;
                padding: 2% 1%;
            }
    }

    &_btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 150px;
        color: v.$second-color;
        background: v.$first-color;
        padding: 1.5rem;
        width: 100%;
        border: none;
        font-size: 2.25rem;
        font-weight: 800;
        overflow: hidden;
        &:hover {
            color: v.$third-color;
            transition: color .7s ease-in-out;
        }

        &--i_right {
            font-size: 3.5rem !important;
            transition: all 0.5s ease-in-out;
        }
    }
}




@media screen and (max-width: 1200px) {
    .convert {
        flex-direction: column;
        padding: 4rem 4rem 2rem;
        &_decrypt{
            width: 100%;
        }
    }
}

@media screen and (max-width: 950px) {
    .convert {
        flex-direction: column;
        padding: 0rem 4rem 2rem;
        &_decrypt{
            width: 100%;
        }

    }
}

@media screen and (max-width: 900px) {
    .convert {
        padding: 0rem 2rem 2rem;
        &_decrypt{
            width: 100%;

            &--title {
                font-size: 2rem;
            }

            &--subtitle {
                font-size: 1.5rem;
            }
        }

        &_btn {
            font-size: 1.8rem;
            padding: 1rem;
            &--i_right {
                font-size: 1.5rem;
            }
        }
    }
}