@use 'src/styles/vars' as v;
.social {
    display: flex;
    position: relative;

    &_container {
        position: absolute;
        right: 10%;
        bottom: 200px;
        width: 30%;
        height: fit-content;
        border-radius: 1.2rem;
        overflow: hidden;

        &_wrapper {
        background-color: v.$fourth-color;
        height: fit-content;
        }
    }
}

@media screen and (max-width: 992px) {
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18rem;
    
        &_container {
            position: relative;
            width: 90%;
            right: 0%;
            height: fit-content;
    
            &_wrapper {
            background-color: v.$fourth-color;
            height: fit-content;
            }
        }
    }
}

@media screen and (max-width: 568px) {
    .social {
        &_container {
            width: 95%;
        }
    }
}