@use 'src/styles/vars'as v;

.carousel_wrapper {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 1rem;

    &-content {
        mask-image: linear-gradient(to right, transparent, v.$second-color, v.$second-color, v.$second-color, v.$second-color, v.$second-color, v.$second-color, transparent);
    }
    &-buttons-container{
        display: flex;
        justify-content: space-between;
    }
        &-buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin: 1.5rem 0 0.5rem;
            &-next {
                font-size: 1rem;
                background: v.$third-color;
                padding: 1.5rem;
                border: 2px solid v.$second-color;
                border-radius: 100%;
                color: v.$first-color;
                cursor: pointer;
                transition: all .2s;
                transform: rotate3d(2, -5, -1, -30deg);
                box-shadow: 10px 5px 3px #585858;
                &:hover {
                    box-shadow: 0px 0px 0px #58585800;
                    transform: rotate3d(2, -5, -1, 0deg);
                    transition: 0.5s;
                }
                &:active {
                    transform: scale(0.9);
                    transition: 0.1s;
                }
            }

            &-prev {
                font-size: 1rem;
                background: v.$third-color;
                padding: 1.5rem;
                border: 2px solid v.$second-color;
                border-radius: 100%;
                color: v.$first-color;
                cursor: pointer;
                transition: all .2s;
                transform: rotate3d(2, -5, -1, -30deg);
                box-shadow: 10px 5px 3px #585858;
                &:hover {
                    box-shadow: 0px 0px 0px #58585800;
                    transform: rotate3d(2, -5, -1, 0deg);
                    transition: 0.5s;
                }
                &:active {
                    transform: scale(0.9);
                    transition: 0.1s;
                }
            }
    }    
}



.loader-wrapper {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        color: #b0b;
    }
}

.swiper-wrapper {
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
}

@media screen and (max-width: 991px) {
    .swiper-slide {
    display: flex;
    justify-content: center;
    transition: all .4s ease;             
    }
    .swiper-slide.swiper-slide-prev{
        transform: translateX(15%);
    }           
    .swiper-slide.swiper-slide-next{
        transform: translateX(-15%);
    }
}

@media screen and (max-width: 576px) {
    .btn-left, .btn-right {
        display: none;
    }
}


